* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #333;
    margin-top: 1.75em;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

.titularNombreArtista {
    text-shadow: 1px 1px 0.25em #00aeff, -1px -1px 0.25em #00aeff;
    color: #ffffffbb;
}

.card {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    margin: 2em;
    width: 25em;
    height: 25em;
    background-size: 100%;
    box-shadow: inset 0 0 2em rgba(0, 0, 0, .1), 0 2em 2em rgba(0, 0, 0, .5);
    border-radius: 50%;
    text-align: center;
    background-color: #666;
}

.card-img {
    border-radius: 50% / 23%;
    height: 70%;
    box-shadow: inset 0 0.1em 2em rgba(0, 0, 0, .1);
    padding: 1em;
    margin: -33% 0px 0px 0px;
    background: url(./img/cloud.png);
}

.overlay-content a {
    font-weight: 800;
    color: #fff;
    text-shadow: 0px 0px .1em #000, 1px 0px .1em #000, 0px 1px .1em #000;
    background: #fff;
    padding: .5em 1em;
    border-radius: 1em;
    border: solid 2px #aaa;
    box-shadow: inset 0 0 .5em #000000;
}

.overlay-content a:hover {
    background-color: #00ff0099;
    border: solid 2px #aaa;
    box-shadow: inset 0 0 1em #000000;
    text-decoration: none;
}

.card-content {
    position: relative;
    padding: 1rem 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    text-shadow: 1px 1px 0.1em #00aeff, -1px -1px 0.1em #00aeff;

}

.card-content h2 {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.avatar{
    margin-top: 20px;
    border-radius: 100% 80% / 40% 100%;    
}

